.breadcrumb {
    padding: 5px;
}

.breadcrumb .item {
    color: hsla(220, 10%, 38%, 1);
    display: flex;
    align-items: center;
}

.breadcrumb-delimiter {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 9px;
    /* color: #0652dd; */
}

.breadcrumb a {
    color: hsla(220, 10%, 60%, 1);
    text-decoration: none;
}
