footer {
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .top, .footer .bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer .top {
    padding: 10px;
}

.footer::backdrop {
    filter: blur(10px);
    content: "";
}

.footer {
    background-size: cover;
    background-position: center;
    background-size: no-repeat;
    background-image: url('/images/coal-2.webp');

    border-radius: 10px;
    /* background: #000; */
    color: #fff;
    width: 100%;
    max-width: 900px;
    overflow: hidden;
}

.footer > .wrapper {
    background: rgba(0, 0, 0, .85);
}

.footer .right {
    display: flex;
    align-items: center;
}

.footer .right .telegram-icon, .footer .right .whatsapp-icon {
    font-size: 30px;
    color: #fff;
    transition: color .1s;
}

.footer .right .telegram-icon {
    color: rgb(0,136,204);
}

.footer .right .phone-icon {
    /* background: #075BF7!important; */
}

.footer .right .whatsapp-icon {
    color: rgb(67,216,84)!important;
}

.footer .right .icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}

.footer .right .phone-icon {
    border-radius: 30px;
    margin-left: 10px;
    transition: box-shadow .1s;
    text-decoration: none;
    padding: 5px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    color: #000;
    min-height: 30px;
    background: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .right .phone-number:hover {
}

.footer .right .phone-number {
    height: 18px;
    white-space: nowrap;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}

.footer .right .order-call:hover {
    background: #fff;
    color: #000;
}

.footer .right .order-call {
    padding: 5px;
    border: none;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(0,0,0,0);
    border-radius: 100px;
    height: 30px;
    padding: 0 10px;
    cursor: pointer;
    transition: background .1s, color .1s;
    white-space: nowrap;
}

.footer .right .order-call:hover {
}

.footer .logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.footer .left {
    display: flex;
    align-items: center;
}

.footer .right .phone {
    display: flex;
    align-items: center;
}

.footer-separator-wrapper {
    width: 100%;
    max-width: 900px;
    height: 1px;
}

.footer-separator {
    width 100%;
    border: none;
    height: 1px;
    padding: 0;
    margin: 0;
    background: rgba(238, 238, 238, .2);
}

.footer-menu {
    padding-left: 20px;
    padding-right: 20px;
}

.footer-menu .link-list .item > a {
    color: #fff;
}

@media screen and (max-width: 600px) {
    footer .order-call {
        display: none;
    }
}
