.submenu .list .item .link {
    background: hsla(220, 17%, 20%, .5);
    color: #fff;
}

.submenu .list .item .link:hover {
    background: hsla(220, 30%, 90%, 1);
    color: #000;
}

.submenu .list .item .catalog.link {
    background: hsla(140, 100%, 29%, 1);
}
