footer {
    padding-top: 0;
    max-width: 100%;
    height: 90px;
}

footer .container {
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    background: url("/images/coal-2-modified.webp");
    background-size: cover;
    background-position: center;
    background-size: no-repeat;

    font-size: 14px;
    width: 100%;
    height: 100%;
}

footer .general .description {
    font-weight: 900;
}

footer .general {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    height: 50%;
}

footer .general .row {
    display: flex;
    align-items: center;
}

footer .general .schedule {
    display: flex;
    padding-right: 10px;
}

footer .general .telegram-icon {
    color: hsla(200, 100%, 46%, 1);
}

footer .general .whatsapp-icon {
    color: hsla(127, 66%, 55%, 1);
}

footer .general .telegram-icon:hover, footer .general .whatsapp-icon:hover {
    color: rgba(6, 82, 221, .8);
}

footer .general .icon {
    font-size: 29px;
    transition: color .1s;

    margin-right: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}

footer .general .icon.dark-mode-icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    background: #e9e9e9;
    background: rgb(2%, 32%, 87%, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #0652DD;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

footer .general .icon.dark-mode-icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    color: hsla(200, 100%, 46%, 1);
    background: hsla(200, 100%, 20%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;

    margin-right: 0;
}

footer .general .phone-icon {
    border-radius: 30px;
    margin-left: 10px;
    transition: box-shadow .1s;
    text-decoration: none;
    padding: 5px;
    color: #fff;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    background: #0652DD;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .general .phone-number {
    height: 18px;
    white-space: nowrap;
    color: #000;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 1px dashed #000;
}

footer .general .order-call {
    padding: 5px;
    border: 1px solid #0652DD;
    border-radius: 100px;
    height: 30px;
    background: hsla(219, 95%, 95%, .8);
    color: #0652DD;
    padding: 0 10px;
    cursor: pointer;
    transition: background .1s, color .1s;
    white-space: nowrap;
}

footer .general .order-call:hover {
    background: #0652DD;
    color: #fff;
}

footer .logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

footer .general .phone {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 740px) {
    footer .general .description {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    footer .logo {
        width: 40px;
        height: 40px;
    }

    footer .description {
        display: none;
    }

    footer .order-call {
        display: none;
    }

    footer .schedule {
        display: none!important;
    }
}

footer > .container > * {
    background: hsla(220, 17%, 12%, .8);
}

footer .general {
    padding: 8px 10px;
    display: flex;
    border-bottom: 1px solid hsla(220, 17%, 22%, .8);
}

footer .general .icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}

footer .general .icon:hover {
    color: #fff;
}

footer .dark-mode-icon:hover {
    color: #fff;
    background: #000;
}

footer .general .phone-number {
    height: 18px;
    white-space: nowrap;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}

footer .general .order-call {
    padding: 6px;
    border-radius: 10px;
    font-weight: 900;
    height: 30px;
    background: hsla(200, 100%, 46%, 1);
    border: none;
    color: #fff;
    /* border: 1px solid hsla(220, 17%, 14%, 1); */
    border: none;
    font-size: 13px;

    padding: 0 10px;
    cursor: pointer;
    transition: background .1s, color .1s, border .1s;
    white-space: nowrap;
}

footer .general .order-call:hover {
    background: hsla(219, 2%, 2%, 1);
    color: #fff;
    border: none;
}

footer .logo {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

footer .general .phone {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 740px) {
    footer .general .description {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    footer .logo {
        width: 40px;
        height: 40px;
    }

    footer .description {
        display: none;
    }

    footer .order-call {
        display: none;
    }

    footer .schedule {
        display: none!important;
    }
}
