:root {
    --content-max-width: 1200px;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: inherit;

  font-family: inherit;
  font-size: inherit;

  padding: 0;
  margin: 0;
}

h1 {
    margin: 25px;
    font-size: 33px;
}

h2 {
    margin: 25px;
}

*[data-display-none] {
    display: none;
}

textarea:focus, input:focus{
    outline: none;
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    /* background: #fff!important; */
}

body > .wrapper {
    max-width: var(--content-max-width);
    width: 100%;
    padding: 5px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

body > .wrapper {
    padding: 5px;
    padding-top: 100px;
}

body > .wrapper > .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}


.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.slider {
    font-weight: 700;
}
