.breadcrumb {
    width: 100%;
    max-width: 900px;
    display: flex;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-size: 14px;
}

.breadcrumb-item {
    color: #333;
    display: flex;
    align-items: center;
}

.breadcrumb-delimiter {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 9px;
    /* color: #0652DD; */
}

.breadcrumb a {
    color: #777;
    text-decoration: none;
}
