header {
    top: 0;
    position: fixed;
    width: 100%;

    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100px;
}

header .wrapper {
    height: 100%;

    max-width: 100%;
    display: flex;
    flex-direction: column;
}

header .general {
    height: 50%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

header .general .row {
    display: flex;
    align-items: center;
}

header .general .schedule {
    display: flex;
    padding-right: 10px;
}

header .general .telegram-icon {
    color: hsla(200, 100%, 46%, 1);
}

header .general .whatsapp-icon {
    color: hsla(127, 66%, 55%, 1);
}

header .general .telegram-icon:hover, header .general .whatsapp-icon:hover {
    color: rgba(6, 82, 221, .8);
}

header .general .icon {
    font-size: 29px;
    transition: color .1s;

    margin-right: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}

header .general .icon.dark-mode-icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    background: #e9e9e9;
    background: rgb(2%, 32%, 87%, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: #0652DD;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

header .general .icon.dark-mode-icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    color: hsla(200, 100%, 46%, 1);
    background: hsla(200, 100%, 20%, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;

    margin-right: 0;
}

header .general .phone-icon {
    border-radius: 30px;
    margin-left: 10px;
    transition: box-shadow .1s;
    text-decoration: none;
    padding: 5px;
    color: #fff;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    background: #0652DD;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .general .phone-number {
    height: 18px;
    white-space: nowrap;
    color: #000;
    margin-right: 10px;
    text-decoration: none;
    border-bottom: 1px dashed #000;
}

header .general .order-call {
    padding: 5px;
    border: 1px solid #0652DD;
    border-radius: 100px;
    height: 30px;
    background: hsla(219, 95%, 95%, .8);
    color: #0652DD;
    padding: 0 10px;
    cursor: pointer;
    transition: background .1s, color .1s;
    white-space: nowrap;
}

header .general .order-call:hover {
    background: #0652DD;
    color: #fff;
}

header .logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

header .general .phone {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 740px) {
    header .general .description {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header .logo {
        width: 40px;
        height: 40px;
    }

    header .description {
        display: none;
    }

    header .order-call {
        display: none;
    }

    h1 {
        font-size: 30px;
    }

    header .schedule {
        display: none!important;
    }

    .header-separator-wrapper {
        padding: 0;
    }
}
