.basket-content .order-form .checkout-btn {
    background: hsla(140, 100%, 30%, 1);
    color: #fff;
}

.basket-content .order-form .checkout-btn:hover {
    background: hsla(140, 100%, 24%, 1);
}

.basket-content .order-form .checkout-btn:active {
    background: hsla(140, 100%, 14%, 1);
}

.basket-content .order-form .input-list {
    background: #fff;
    border-color: hsla(220, 15%, 70%, .5);
}

.basket-content .order-form .input-list .item {
    border-color: hsla(220, 15%, 70%, .5);
}

.basket-content .order-form .input-list .value {
    border-color: hsla(220, 15%, 70%, .5);
}

