.request-form .input-list {
    border-color: #aaa;
}

.request-form .input-list input {
    border-top-color: #aaa;
}

.request-form [type=submit] {
    background: #0652DD;
    color: #fff;
    border-color: #0652DD;
}
