h1 {
    margin: 0;
    margin-bottom: 20px;
}

.slider-1 {
    max-width: 890px!important;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    width: 100%;
}

.slider-1 .slider-item-wrapper {
    height: 100%;
}
