.submenu .list .item .link {
    background: #fff;
    color: #000;
    border-color: hsla(220, 15%, 70%, .5);
}

.submenu .list .item .link:hover {
    background: hsla(220, 5%, 80%, .5);
}

.submenu .list .item .link:active {
    /* background: hsla(220, 5%, 60%, .5); */
    background: hsla(220, 15%, 70%, .5);
}

.submenu .list .item .catalog.link {
    background: hsla(140, 100%, 30%, 1);
    border-color: hsla(140, 100%, 30%, .5);
    color: #fff;
}

.submenu .list .item .catalog.link:hover {
    background: hsla(140, 100%, 24%, 1);
    border-color: hsla(140, 100%, 24%, 1);
    color: #fff;
}

.submenu .list .item .catalog.link:active {
    background: hsla(140, 100%, 14%, 1);
    border-color: hsla(140, 100%, 14%, 1);
    color: #fff;
}
