body > .wrapper {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
}

.submenu {
    width: 100%;
    max-width: var(--content-max-width);
    padding: 0 5px;
    z-index: 100;
}

header {
    z-index: 200;
}

.slider-1 {
    width: 100%;
    max-width: 1920px;
    padding: 0;
    border-radius: unset;
    height: 400px;
}

.slider-1 .slider-item {
    max-width: var(--content-max-width);
    width: 100%;
}

.slider-item-wrapper .dimming {
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .45);
    display: flex;
    justify-content: center;
}

.slider-1 .slider-description {
    padding-left: 5px;
    margin-left: 0;
}

.slider-1 .request {
    margin-right: 0;
    padding-right: 5px;
}

.slider-1 .request-form {
    backdrop-filter: saturate(180%) blur(5px);
    background: rgba(255, 255, 255, .9);
}

.slider-1 .request-form input {
    background: none;
}

.content > .products {
    max-width: var(--content-max-width);
    padding-left: 5px;
    padding-right: 5px;
}

footer {
    width: 100%;
    max-width: var(--content-max-width);

    padding-left: 5px;
    padding-right: 5px;
}

.gallery-1 {
    display: grid;
    max-width: var(--content-max-width);
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0 5px;
    padding-bottom: 5px;
    gap: 5px;
}

.gallery-1 .column {
    width: 100%;
}

.gallery-1 .primary {
    height: 300px;
}

.gallery-1 .middle {
    display: grid;
    gap: 5px;
}

.gallery-1 .secondary {
    display: grid;
    gap: 5px;
}

.gallery-1 .secondary .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.gallery-1 .img {
    border-radius: 10px;

    background-size: cover;
    background-position: center;
    background-size: no-repeat;
}

.gallery-1 .a.img {
    height: 300px;
}

.gallery-1 .b.img {
    height: 147.5px;
}

.gallery-1 .c.img {
    height: 147.5px;
}

.gallery-1 .d.img {
    height: 147.5px;
}

.gallery-1 .e.img {
    height: 147.5px;
}

.gallery-1 .f.img {
    height: 147.5px;
}

h2 {
    font-size: 24px;
}

.source {
    padding: 5px 10px;
    border: 1px dashed #000;
    border-radius: 5px;
    margin-top: 5px;
}

.calculator {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin-bottom: 5px;
}

.calculator .background {
    width: 100%;
    height: 400px;

    background-size: cover;
    background-position: center;
    background-size: no-repeat;

    position: absolute;
}
