.order-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.order-form .no-product {
    height: 100%;
}

.order-form .checkout-btn {
    border: none;
    margin-bottom: 5px;
    background: hsla(140, 100%, 30%, 1);
    color: #fff;
    font-size: 13px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
    transition: background .1s;
}

.order-form .checkout-btn:hover {
    background: hsla(140, 100%, 24%, 1);
}

.order-form .checkout-btn:active {
    background: hsla(140, 100%, 14%, 1);
}

.order-form .input-list {
    background: #fff;
    font-size: 14px;
    border: 1px solid hsla(220, 15%, 70%, .5);
    margin-bottom: 5px;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    width: 100%;
}

.order-form .input-list .item {
    display: flex;
    height: 40px;
    align-items: center;
    border-bottom: 1px solid hsla(220, 15%, 70%, .5);
}

.order-form .input-list .item:last-of-type {
    border-bottom: none;
}

.order-form .input-list .name {
    width: 50%;
    text-align: end;
    padding-right: 10px;
    font-weight: 900;
}

.order-form .input-list .value {
    width: 50%;
    height: 100%;
    border: none;
    padding: 10px;
    border-left: 1px solid hsla(220, 15%, 70%, .5);
}

