.contacts {
    width: 100%;
    max-width: 900px;
    padding: 5px;
}

.contacts .description {
    display: flex;
    flex-direction: column;
}

.contacts .item {
    width: 50%;
    border-radius: 10px;
    border: 1px solid;
}

.contacts .row .item:first-child {
    margin-right: 5px;
}

.contacts .description-item:last-child {
    border: none;
}

.contacts .description-item:last-child {
    padding-bottom: 10px;
}

.contacts .description-item {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.contacts .description-item:last-child {
    margin-bottom: 0;
}

.contacts .map {
    margin-top: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.contacts a {
    text-decoration: none;
}

.contacts .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.contacts .row:last-child {
    margin-bottom: 0;
}

.contacts .description-item {
    display: flex;
    font-size: 14px;
}

.contacts .description-item .icon {
    border-radius: 30px;
    transition: box-shadow .1s;
    text-decoration: none;
    padding: 5px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.contacts .description-item .icon.without-background {
    background: none;
    font-size: 29px;
}

.contacts .cards {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid;
}

.ymaps-map {
    -ms-touch-action: auto !important;
    touch-action: auto !important;
}

.contacts .description-title {
    border-bottom: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .contacts .row {
        flex-direction: column;
        margin-bottom: 0;
    }

    .contacts .row .item {
        margin-bottom: 5px;
        width: 100%;
    }

    .contacts .row:last-child .item:last-child {
        margin-bottom: 0;
    }
}
