.basket-content .order-form .checkout-btn {
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
    transition: background .1s;
}

.basket-content .order-form .input-list {
    font-size: 14px;
    border: 1px solid;
    margin-bottom: 5px;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    width: 100%;
}

.basket-content .order-form .input-list .item {
    display: flex;
    height: 40px;
    align-items: center;
    border-bottom: 1px solid;
}

.basket-content .order-form .input-list .item:last-of-type {
    border-bottom: none;
}

.basket-content .order-form .input-list .name {
    width: 50%;
    text-align: end;
    padding-right: 10px;
    font-weight: 900;
}

.basket-content .order-form .input-list .value {
    width: 50%;
    height: 100%;
    border: none;
    padding: 10px;
    border-left: 1px solid;
}
