header .wrapper {
    background: #fff;
    border-color: hsla(220, 15%, 70%, .5);
}

header .general {
    border-bottom-color: hsla(220, 15%, 70%, .5);
}

header .general .dark-mode-icon {
    color: #000;
    background: hsla(220, 15%, 70%, .5);
}

header .general .dark-mode-icon:hover {
    color: #fff;
    background: hsla(220, 15%, 15%, .5);
}

header .general .order-call {
    background: hsla(200, 100%, 46%, 1);
    color: #fff;
}

header .general .order-call:hover {
    background: hsla(219, 2%, 2%, 1);
    color: #fff;
}

header .general .phone-number {
    border-bottom-color: #000;
    color: #000;
}

header .general .contact-icon:hover {
    color: #000;
}
