.product {
    border: 1px solid hsla(220, 15%, 70%, .4);
    background: #fff;
}

.product:hover {
    box-shadow: 0px 4px 15px hsla(220, 5%, 56%, .4);
}

.product .count .option {
    background: hsla(220, 5%, 80%, .4);
    transition: background .1s;
}

.product .count .option:hover {
    background: hsla(220, 5%, 70%, .4)
}

.product .count .option:active {
    background: hsla(220, 15%, 60%, .4);
}

.product .cart {
    background: hsla(140, 100%, 30%, 1);
    color: #fff;
    transition: background .1s;
    user-select: none;
}

.product .cart:hover {
    background: hsla(140, 100%, 24%, 1);
}

.product .cart:active {
    background: hsla(140, 100%, 14%, 1);
}

.product .cart.in {
    background: hsla(220, 5%, 80%, .4);
    color: #333;
}

.product .cart.in:hover {
    background: hsla(220, 5%, 70%, .4)
}

.product .count .option:active {
    background: hsla(220, 15%, 60%, .4);
}
