.product {
    border: 1px solid hsla(220, 15%, 70%, .4);
    background: #fff;
    box-shadow: 0px 6px 20px hsla(220, 5%, 56%, .25);
    transition: box-shadow .1s;
}

.product:hover {
    box-shadow: 0px 4px 15px hsla(220, 5%, 56%, .4);
}

.product .count .option {
    background: hsla(140, 100%, 30%, .25);
    transition: background .1s;
}

.product .count .option:hover {
    background: hsla(140, 100%, 30%, .4);
}

.product .count .option:active {
    background: hsla(140, 100%, 30%, .6);
}

.product .cart {
    background: hsla(140, 100%, 30%, 1);
    color: #fff;
    transition: background .1s;
    user-select: none;
}

.product .cart:hover {
    background: hsla(140, 100%, 24%, 1);
}

.product .cart:active {
    background: hsla(140, 100%, 14%, 1);
}

.product .cart .icon {
    background: rgba(255, 255, 255, .2);
}

.product .cart.in {
    background: hsla(140, 100%, 30%, .25);
    color: #000;
}

.product .cart.in:hover {
    background: hsla(140, 100%, 30%, .4);
}

.product .cart.in:active {
    background: hsla(140, 100%, 30%, .6);
}
